#safearea{
  display: block
}

@import '_defines/*'

// Project
@import '_style'

// Custom Files
for $injects_style in hexo-config('injects.style')
  @import $injects_style;

/* 此处调节字体大小 */
.top .title font{
    font-size: 2em;
}
.top .title span{
    transition: 0.5s;
}
.top .title:hover span:nth-child(1){
    margin-right: 10px;
}
.top .title:hover span:nth-child(2){
    margin-right: 0px; 
}
.top .title:hover span:nth-child(3){
    margin-left: 10px;
}
.top .title:hover span{
    color: #482522;
    text-shadow: 0 0 0 10px #5c2223,
                 0 0 0 20px #5c2223,
                 0 0 0 40px #5c2223,
                 0 0 0 80px #5c2223,
                 0 0 0 120px #5c2223,
                 0 0 0 160px #5c2223;
}

// 文章段落开头空两格
.md{
    text-align: left
    text-indent: 2em
}